<!--ユーザ詳細画面-->

<div class="container">
  <div class="row mt-3">
    <div class="col-md-3">
      <%= render 'layouts/users_info', {book:@book , user:@user} %>
    </div>
    <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table width=100%>
            <tr>
              <th width=30%></th>
              <th width=30%>Title</th>
              <th width=60%>Opinion</th>
            </tr>
            <tr>
              <% @books.each do |book| %>
              
              <th>
                <a href="/users/<%= book.user.id %>">
                <%= attachment_image_tag book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "NoImage.jpg" ,size:"40x40" %>
                    <!--@book.userでこの記事の投稿者のデータを取得-->
               </a>
               <!--投稿者の画像を投稿者詳細へのリンクにする…-->
              </th>
              <th><%= link_to book.title, book_path(book.id) %></th>
              <th><%= book.body %></th>
            </tr>
            <% end %>
        </table>

    </div>
  </div>
</div>