<!--<h1>ここが投稿詳細</h1>-->


<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3">
      <%= render 'layouts/users_info', {book:@create_book , user:@user} %>
    </div>
    <div class="col-lg-8 offset-md-1">
            <h2>Book detail</h2>
            <!--自分が投稿者であるときのみ表示する-->
            <% if @book.user == current_user %>
               <table width=100%>
                <tr>
                    <td>
                        <a href="/users/<%= @book.user.id %>" >
                        <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "NoImage.jpg" ,size:"40x40", class: "m-2" %></br>
                        <!--@book.userでこの記事の投稿者のデータを取得-->
                        <%= @book.user.name %>
                        </a>
                    </td>
                    <td>
                         <%= link_to @book.title, book_path(@book.id) %>
                    </td>
                    <td>
                         <%= @book.body %>
                    </td>
                    <td>
                        <a class="btn btn-success btn-inlineblock" href="/books/<%= @book.id %>/edit ">Edit</a>
                    </td>
                    <td width=25%>
                      <%= link_to "Destroy", book_path(@book), method: :delete ,"data-confirm"=>"本当に消しますか？" ,class:"btn btn-danger" %>
                      <!--削除ボタン-->
                    </td>
                </tr>
            </table>
            <% else %>
            <table width=100%>
                <tr>
                    <td width=10%>
                        <a href="/users/<%= @book.user.id %>">
                        <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "NoImage.jpg" ,size:"40x40" , class: "m-2"%></br>
                        <!--@book.userでこの記事の投稿者のデータを取得-->
                        <%= @book.user.name %>
                        </a>
                    </td>
                    <td width=40%>
                         <%= link_to @book.title, book_path(@book.id) %>
                    </td>
                    <td width=50%>
                         <%= @book.body %>
                    </td>
                </tr>
            </table>
            <% end %>

</div>